<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>New password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="floating">New password</ion-label>
          <ion-input type="password" formControlName="password" autocomplete="new-password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input type="password" formControlName="confirm" autocomplete="new-password"></ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="form.errors?.['mismatch'] && form.get('confirm')?.dirty">
          <p class="ion-padding-start">Passwords do not match.</p>
        </ion-text>
        <ion-text color="danger" *ngIf="error()">
          <p class="ion-padding-start">{{ error() }}</p>
        </ion-text>

        <ion-button expand="block" type="submit" [disabled]="loading() || !!(form.errors?.['mismatch'])" class="ion-margin-top">
          {{ loading() ? 'Saving…' : 'Set new password' }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
